
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>
    <h1>Welcome to contact us page</h1>
    <h1>@DateTime.Now</h1>
</body>
</html>
