################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebGentle.BookStore/WebGentle.BookStore/wwwroot/lib
