
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to bookstore application</h1>
    <p> This is a home page of a bookstore application</p>
</body>
</html>
